<?xml version="1.0"?>
<configuration>

  <location path="CreateMovie.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow roles="moderator"/>
        <deny roles="user"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Users.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow roles="moderator"/>
        <deny roles="user"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
